---
title:  "Services"
layout: page-with-hero
hero-text: Our services deliver you <span class='underline'>results</span>
hero-class: services-hero
permalink: /services/
body-class: with-hero
---
<div class='container services'>
	<div class='row'>
		{% for service in site.services %}
			<article class="six columns home-services">
				<a class="service-link" href="{{ service.url | relative_url }}">
					{% if service.image %}
						<img src="{{ service.image }}"" alt="{{ service.title | escape }}" class="img-responsive center-block service-image">
					{% endif %}
					<h4 class="service-title">{{ service.title | escape }}</h4>
				</a>
				{% if service.tagline %}
					<span class="service-tagline">{{ service.tagline | escape }}</span>
				{% endif %}
				<div class="service-text">{{ service.excerpt }}</div>
			</article>
		{% endfor %}
	</div>
	<p class='center-text'><a class='button' href='/contact-us'>Contact Us</a></p>
</div>