.site-header
	padding: 10px 0

.home
	.site-title
		display: none
	#site-nav
		text-align: center
		width: 100%
		a 
			color: $accentColor

@media (max-width: $mobileSize)
	.site-header
		.container
			width: 100%