.site-header
	padding: 10px 0

#site-nav
	a
		font-size: 1.5rem
		padding: 0 15px
		text-transform: uppercase
		font-family: $futuraBold
		&:hover
			color: $lightRed !important


.home
	.site-title
		display: none
	#site-nav
		text-align: center
		width: 100%
		a 
			color: $accentColor