.landing
	width: 100%
	position: relative
	margin: auto
	display: inline-block
	text-align: center
	height: 100vh
	background: url("/assets/images/hero-background.jpg")
	background-size: cover
	background-position: center

	.title
		position: relative
		max-width: 500px
		margin: auto
		margin-top: 30vh
		h1
			font-family: $futuraBoldItalic
			margin-bottom: 0
			font-size: 8em
			color: white
		span
			font-family: $futuraBold
			color: white
			position: absolute
			right: 20%
			font-size: 2em
			bottom: -15px

	.tagline
		position: absolute
		bottom: 30px
		left: 0
		right: 0
		margin: auto
		font-size: 2em
		color: white