.landing
	width: 100%
	position: relative
	margin: auto
	display: inline-block
	text-align: center
	height: 100vh
	background: url("/assets/images/background-test.jpg")

	.title
		position: relative
		max-width: 500px
		margin: auto
		margin-top: 20%
		h1
			font-family: "Futura Bold Italic font"
			margin-bottom: 0
			font-size: 8em
			color: white
		span
			font-family: "Futura Heavy font"
			color: white
			position: absolute
			right: 20%
			font-size: 2em
			bottom: -15px

	.tagline
		position: absolute
		bottom: 30px
		left: 0
		right: 0
		margin: auto
		font-size: 2em
		color: white