.site-title
	float: left
	font-size: 3rem
	font-family: $futuraBoldItalic
	margin-top: -10px

#site-nav
	float: right
	a
		font-size: 1.5rem
		padding: 0 15px
		text-transform: uppercase
		font-family: $futuraBold
		&:hover
			color: $lightRed !important

#mobile-icon
	display: none
	text-align: center
	cursor: pointer

.with-hero .site-title
	color: $accentColor
	&:hover
		color: $accentColor

.with-hero .post-header
	width: 100%
	position: relative
	margin: auto
	display: inline-block
	text-align: center
	height: 100vh
	margin-bottom: 50px
	.post-title
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		max-width: 500px
		width: 100%

@media (max-width: $tabletSize)
	.site-title, #site-nav
		float: none
		display: block
		text-align: center

@media (max-width: $mobileSize)
	#site-nav
		max-height: 0
		background: $lightRed
		position: absolute
		width: 100%
		z-index: 999
		overflow: hidden
		transition: max-height 1s linear
		a
			color: $accentColor
			display: block
			padding: 10px
			&:hover
				color: $textColor !important
		&.open
			max-height: 1000px
			transition: max-height 2s linear
	#mobile-icon
		display: block
		svg path
			fill: $lightRed
	.with-hero #mobile-icon svg path
		fill: $accentColor
	.with-hero .post-header .post-title
		max-width: 90%
