.services-hero
	background: url('/assets/images/lets-work.jpg') no-repeat
	background-size: cover
	background-position: center

.service
	.post-content
		p:first-child
			margin: 50px auto
			text-align: center
		p:last-child
			text-align: center
			margin: 50px 0
		li
			padding: 5px 0
	.post-title
		margin: 75px 0
	.service-image
		margin-top: 25px
		margin-bottom: 25px

.services
	.service-text
		margin-top: 1em
	.service-tagline
		font-size: 0.8em
	article
		margin: 50px 0

.service-image
	width: 150px
	height: 150px

@media (min-width: 1200px)
	.service
		ul 
			column-count: 3

	
