.services-hero
	background: url('/assets/images/lets-work.jpg') no-repeat
	background-size: cover
	background-position: center

.service
	.post-content
		p:first-child
			max-width: 800px
			margin: 50px auto
		p:last-child
			text-align: center
			margin: 50px 0
		li
			padding: 5px 0
	.post-title
		margin: 75px 0
	.service-image
		margin: 25px 0

.services
	.service-text
		margin-top: 1em

	.service-tagline
		font-size: 0.8em

.service-image
	width: 150px
	height: 150px

@media (min-width: 1200px)
	.service
		ul 
			column-count: 3

	
