.center-block
	display: block
	margin: 0 auto

.img-responsive
	max-width: 100%
	height: auto

.center-text
	text-align: center

.underline
	text-decoration: underline

.bold
	font-weight: bold

.inverse-text
	color: $accentColor

.no-bottom-margin
	margin-bottom: 0

.black-color
	color: $darkGrey
