.work-hero
	background: url('/assets/images/lets-work.jpg') no-repeat
	background-size: cover
	background-position: center
	width: 100%
	position: relative
	margin: auto
	display: inline-block
	text-align: center
	height: 100vh
	margin-bottom: 50px
	.post-title
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		max-width: 500px

.work-tile
	float: left
	width: 50%
	padding-bottom: 30%
	-webkit-transition: all 1s ease-in-out
	-moz-transition: all 1s ease-in-out
	-ms-transition: all 1s ease-in-out
	transition: all 1s ease-in-out
	opacity: 1
	&.hidden
		width: 0
		opacity: 0

.work-link:nth-child(2n)
	clear: both

.filter-link
	color: $textColor
	h5
		transition: all 0.2s ease-in-out
		display: inline-block
		border-bottom: 2px solid $accentColor
	&:hover
		color: $textColor
		h5
			border-bottom: 2px solid $lightRed
	h5.active
		border-bottom: 2px solid $lightRed
