---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$blue: #79f8ff;
$darkBlue: darken($blue, 10%);
$red: #ff0d0d;
$lightRed: #ff5959;
$darkRed: darken($red, 10%);
$textColor: #565250;
$accentColor: #fff;
$grey: lighten($textColor, 30%);
$darkGrey: darken($textColor, 30%);

$laptopSize: 1200px;
$tabletSize: 800px;
$mobileSize: 600px;

@font-face {
  font-family: 'Futura Medium Italic';
  src: url('fonts/Futura Medium Italic font.eot');
  src: url('fonts/Futura Medium Italic font.woff2') format('woff2'),
       url('fonts/Futura Medium Italic font.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaBT-MediumItalic';
  src: url('fonts/FuturaBT-MediumItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Medium BT';
  src: url('fonts/Futura Medium BT.eot');
  src: url('fonts/Futura Medium BT.woff2') format('woff2'),
       url('fonts/Futura Medium BT.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaBT-Medium';
  src: url('fonts/FuturaBT-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Lt BT';
  src: url('fonts/Futura Lt BT.eot');
  src: url('fonts/Futura Lt BT.woff2') format('woff2'),
       url('fonts/Futura Lt BT.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaBT-Light';
  src: url('fonts/FuturaBT-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Heavy';
  src: url('fonts/Futura Heavy.eot');
  src: url('fonts/Futura Heavy.woff2') format('woff2'),
       url('fonts/Futura Heavy.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaBT-Heavy';
  src: url('fonts/FuturaBT-Heavy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Bold Italic';
  src: url('fonts/Futura Bold Italic font.eot');
  src: url('fonts/Futura Bold Italic font.woff2') format('woff2'),
       url('fonts/Futura Bold Italic font.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaBT-BoldItalic';
  src: url('fonts/FuturaBT-BoldItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


$futuraBold: "FuturaBT-Heavy", "Futura Heavy";
$futuraLight: "FuturaBT-Light", "Futura Lt Bt";
$futuraBoldItalic: "FuturaBT-BoldItalic", "Futura Bold Italic";
$futuraMedium: "FuturaBT-Medium", "Futura Medium BT";
$futuraMediumItalic: "Futura Medium Italic", "FuturaBT-MediumItalic";



html {
    position: relative;
    min-height: 100%;
}

body {
  margin-bottom: 178px !important;
  box-sizing: border-box;
}

footer, section, article, div, aside, header {
  box-sizing: border-box; 
}


@import
	'normalize',
	'skeleton',
	'typography',
	'nav',
	'home',
  'home-landing',
  'section',
  'home-tools',
  'post-list',
  'home-quote',
  'home-image',
  'home-work',
  'home-cta',
  'utility',
  'footer',
  'home-services',
  'header',
  'services',
  'work',
  'posts',
  'about'

