---
layout: page
title: Blog
---
<div class="post-list">
  {% for post in paginator.posts %}
    <div class='row post-row'>
      <div class="six columns">
        <img class='img-responsive' src='{% if post.image%}{{post.image}}{% else %}/assets/images/lets-work.jpg{% endif %}'>
      </div>
      <article class="six columns">
        <p class='category-name'>
          {% for category in post.categories %}
            {{category | replace: "-", " "}}&nbsp;
          {% endfor %}
        </p>
        <h4 class="post-title">
          <a href="{{ post.url | relative_url }}">{{ post.display_title | escape }}</a>
        </h4>
        <p>{{post.display_excerpt}}</p>
        <a class="post-link" href="{{ post.url | relative_url }}">READ MORE</a>
        <hr>
        <p>By {{post.author}}</p>
      </article>
    </div>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}