---
layout: default
---


<div class="home">
    
    {%include home/home-landing.html%}

    <div class="container">
  
      {{ content }}

      <section class='posts'>
        <h2 class="section-title">The Blog</h2>
        <a class="section-link" href="{{site.url}}/blog">All Blog Posts</a>
        <div class="post-list">
          {% for post in site.posts limit:3 %}
            {% include home/post-excerpt.html post=post%}
          {% endfor %}
        </div>
      </section>

    </div>

</div>