---
layout: default
body-class: with-hero
---
<header class="post-header" {% if page.image %}style="background: url({{ page.image }}); background-postition: center; background-size: cover;"{% endif %}>
</header>
<div class="container">
	<h1 class="center-text">{{ page.title }}</h1>
	<h5 class="work-description center-text">{{page.description}}</h5>
	<article class="post">

	  <div class="post-content">
	    {{ content }}
	  </div>

	</article>
	<h3 class='center-text'>Related Projects</h3>
	<div class='row'>
		{% assign counter=0 %}
		{% for work in site.our_work %}
			{% if page != work and counter < 3%}
				{% assign counter=counter | plus:1 %}   
				<article class="four columns u-max-full-width work-{{counter}}">
					<a class="work-link" href="{{ work.url | relative_url }}">
						<img src="{{ work.image }}"" alt="{{ work.title | escape }}" class="img-responsive center-block">
						<h5 class='no-bottom-margin black-color'>{{work.title}}</h5>
						<p class='work-description'>{{work.description}}</p>
					</a>
				</article>
			{% endif %}
		{% endfor %}
	</div>
	<br>
	<br>
</div>