---
layout: default
---
<div class="container">
	<h1 class="center-text margin-top">{{ page.display_title }}</h1>
	<h5 class="work-description center-text">{{page.description}}</h5>
	{% if page.image %}
		<img src={{page.image}} class='center-text img-responsive margin-top margin-bottom'>
	{% endif %}
	<article class="post">

	  <div class="post-content">
	    {{ content }}
	  </div>

	</article>
	<h3 class='center-text clearfix margin-top'>Related Projects</h3>
	<div class='row'>
		{% assign counter=0 %}
		{% for work in site.our_work %}
			{% if page != work and counter < 3%}
				{% assign counter=counter | plus:1 %}   
				<article class="four columns u-max-full-width work-{{counter}}">
					<a class="work-link-image" href="{{ work.url | relative_url }}" style="background: url({{ work.thumbnail }});">
					</a>
					<a class="work-link" href="{{ work.url | relative_url }}">
						<h5 class='no-bottom-margin black-color'>{{work.display_title}}</h5>
						<p class='work-description'>{{work.description}}</p>
					</a>
				</article>
			{% endif %}
		{% endfor %}
	</div>
	<br>
	<br>
</div>