<div class='home-tools-container'>
	<div class="home-tools row">
		<div class="six columns icons">
			<div class="images">
				<div class="image-row">
					<img src='/assets/images/sass.png' alt='sass'>
					<img src='/assets/images/html.png' alt='html'>
				</div>
				<div class="image-row">
					<img src='/assets/images/react.png' alt='react'>
					<img src='/assets/images/redux.png' alt='redux'>
					<img src='/assets/images/vue.png' alt='vue.js'>
				</div>
				<div class="image-row">
					<img src='/assets/images/laravel.png' alt='laravel'>
					<img src='/assets/images/socketio.png' alt='socket.io'>
					<img src='/assets/images/node.png' alt='node.js'>
					<img src='/assets/images/flask.png' alt='flask'>
				</div>
				<div class="image-row">
					<img src='/assets/images/php.png' alt='php'>
					<img src='/assets/images/js.png' alt='javascript'>
					<img src='/assets/images/python.png' alt='python'>
				</div>
				<div class="image-row">
					<img src='/assets/images/mysql.png' alt='mysql'>
					<img src='/assets/images/mongo.png' alt='mongo'>
				</div>
			</div>
		</div>
		<div class="six columns tools-text">
			<h2>Building with the best tools.</h2>
			<p>We build software that generates revenue using the latest web and mobile technologies. If you’re looking to innovate, increase efficiency, or build the next great technology, we can make it happen.</p>
		</div>
	</div>
</div>