<div class='home-tools-container'>
	<div class="home-tools row">
		<div class="six columns icons">
			<div class="images">
				<div class="image-row">
					<img src='/assets/images/sass.svg' alt='sass'>
					<img src='/assets/images/html.svg' alt='html'>
				</div>
				<div class="image-row">
					<img src='/assets/images/react.svg' alt='react'>
					<img src='/assets/images/redux.svg' alt='redux'>
					<img src='/assets/images/vue.svg' alt='vue.js'>
				</div>
				<div class="image-row">
					<img src='/assets/images/laravel.svg' alt='laravel'>
					<img src='/assets/images/socketio.svg' alt='socket.io'>
					<img src='/assets/images/node.svg' alt='node.js'>
					<img src='/assets/images/flask.svg' alt='flask'>
				</div>
				<div class="image-row">
					<img src='/assets/images/php.svg' alt='php'>
					<img src='/assets/images/js.svg' alt='javascript'>
					<img src='/assets/images/python.svg' alt='python'>
				</div>
				<div class="image-row">
					<img src='/assets/images/mysql.svg' alt='mysql'>
					<img src='/assets/images/mongo.svg' alt='mongo'>
				</div>
			</div>
		</div>
		<div class="six columns tools-text">
			<h2>Building with the best tools.</h2>
			<p>We build software that generates revenue using the latest web and mobile technologies. If you’re looking to innovate, increase efficiency, or build the next great technology, we can make it happen.</p>
		</div>
	</div>
</div>